name: Generate Release Issues

on:
  workflow_dispatch:
    inputs:
      version:
        description: "JDK version (for example: JDK8, JDK11)"
        required: true
        type: string
      releaseDate:
        description: Release date passed to downstream workflows
        required: true
        type: string
      pipelineUrl: 
        description: "URL of the associated JDK version release pipeline"
        required: false
        type: string
      matrixInt:
        description: Coverage matrix parameter (Mar/Sep==0, Jan/July==1, Apr/Oct==2)
        required: false
        type: number

permissions:
  contents: read
  issues: write

jobs:
  dispatch:
    name: Dispatch
    env:
      VERSION_RAW: ${{ github.event.inputs.version }}
      RELEASE_DATE: ${{ github.event.inputs.releaseDate }}
      PIPELINE_URL: ${{ github.event.inputs.pipelineUrl }}
      MATRIX_INT: ${{ github.event.inputs.matrixInt }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo: ['smlambert/privtestrepo', 'smlambert/pubtestrepo']
    timeout-minutes: 5
    steps:
      - name: Dispatch to workflows
        run: |
            curl -H "Accept: application/vnd.github.everest-preview+json" \
            -H "Authorization: token ${{ secrets.GH_ISSUES_TOKEN }}" \
            --request POST \
            --data '{"event_type": "custom_event", "client_payload": { "version": "${{ env.VERSION_RAW }}", "releaseDate": "${{ env.RELEASE_DATE }}", "pipelineUrl": "${{ env.PIPELINE_URL }}", "matrixInt": "${{ env.MATRIX_INT }}" }}' https://api.github.com/repos/${{ matrix.repo }}/dispatches
            
